extends layout

block append scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/game.js')

block content
    .container
        .row
            .col-xs-12
                h1.title #{title} <small>#{description}</small>
        .row
            .col-xs-12
                #game-status
        .row
            .col-xs-12
                table#game-grid.table.table-bordered
                    tbody
                        tr
                            td
                                #grid_0_0.case(data-row="0", data-column="0")
                            td
                                #grid_0_1.case(data-row="0", data-column="1")
                            td
                                #grid_0_2.case(data-row="0", data-column="2")
                        tr
                            td
                                #grid_1_0.case(data-row="1", data-column="0")
                            td
                                #grid_1_1.case(data-row="1", data-column="1")
                            td
                                #grid_1_2.case(data-row="1", data-column="2")
                        tr
                            td
                                #grid_2_0.case(data-row="2", data-column="0")
                            td
                                #grid_2_1.case(data-row="2", data-column="1")
                            td
                                #grid_2_2.case(data-row="2", data-column="2")
        .row
            .col-xs-12
                #validation
                    button#validate-move-btn(type="button", class='btn btn-primary') Validate

    #game-data
        form
            input#socket-url(type="hidden", value="#{socketUrl}")
            input#game-id(type="hidden", value="#{gameId}")