extends layout

block content
    .container
        .jumbotron.header
            h1 #{title}
            p(class="lead") #{description}
        .row
            .col-lg-12
                form(method="POST", role="form", class="form-inline")
                    .form-group
                        label(for="gameId") Game ID
                        input#gameId(type="text", name="gameId", class="form-control")
                    button(type="submit", name="join_game", class="btn btn-default") Join a game
                    button(type="submit", name="create_game", class="btn btn-default") Create a game