{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron header">
        <h1>{{ title }}</h1>
        <p class="lead">{{ description }}</p>
    </div>

    <form method="POST">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <div class="input-group">
                    <label class="sr-only" for="gameId">Game ID</label>
                    <input id="gameId" type="text" name="gameId" class="form-control" placeholder="Game ID">
                    <span class="input-group-btn">
                        <button type="submit" name="join_game" class="btn btn-default">Join a game</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">OR</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" name="create_game" class="btn btn-default">Create a game</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}