extends layout

block content
    .container
        .jumbotron.header
            h1 #{title}
            p(class="lead") #{description}
        .row
            .col-lg-12
                form(method="POST")
                    input(type="text", id="gameId", name="gameId")
                    button(type="submit", name="join_game") Join a game
                    button(type="submit", name="create_game") Create a game