.header {
  margin-top: 20px;
}
.bordered-bottom {
  border-bottom: 1px solid lightgray;
}
.highlight {
  padding: 9px 14px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
#game-grid {
  max-width: 180px;
  margin: auto;
}
.case {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 200%;
  line-height: 50px;
  margin: auto;
}
.case.selectable {
  cursor: pointer;
  color: rgba(128, 128, 128, 0.6);
  border: 3px dashed rgba(128, 128, 128, 0.6);
  line-height: 44px;
}
.case.selectable:hover,
.case.selectable.selected {
  color: #008000;
  border-color: #008000;
}
.back-button {
  height: 56px;
  line-height: 56px;
}
