{% extends 'layout.html' %}

{% block scripts %}
    {% parent %}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/game-{{ resources.suffix }}.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row bordered-bottom">
            <div class="col-xs-4 back-button">
                <a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Home</a>
            </div>
            <div class="col-xs-4">
                <h1 class="text-center">Game <small>{{ gameId }}</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p id="game-status"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="game-grid" class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <div id="grid_0_0" class="case" data-row="0" data-column="0"></div>
                            </td>
                            <td>
                                <div id="grid_0_1" class="case" data-row="0" data-column="1"></div>
                            </td>
                            <td>
                                <div id="grid_0_2" class="case" data-row="0" data-column="2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="grid_1_0" class="case" data-row="1" data-column="0"></div>
                            </td>
                            <td>
                                <div id="grid_1_1" class="case" data-row="1" data-column="1"></div>
                            </td>
                            <td>
                                <div id="grid_1_2" class="case" data-row="1" data-column="2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="grid_2_0" class="case" data-row="2" data-column="0"></div>
                            </td>
                            <td>
                                <div id="grid_2_1" class="case" data-row="2" data-column="1"></div>
                            </td>
                            <td>
                                <div id="grid_2_2" class="case" data-row="2" data-column="2"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="game-data">
            <form>
                <input id="game-id" type="hidden" value="{{ gameId }}">
            </form>
        </div>
    </div>
{% endblock %}